# Assignment 01-Huzaifa Qamar

In [25]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [26]:
#1. What is the length of the salaries list.
length_list=len(salaries)
print(f'Length={length_list}')

Length=7

In [27]:
#2. Retrieve the third salary in the list by using index.
third_Salary=salaries[2]
print(f'Third Salary={third_Salary}')

Third Salary=50k

In [28]:
#3. Extract the last salary from the list by using a negative index.
last_Salary=salaries[-1]
print(f'Last Salary={last_Salary}')

Last Salary=40k

In [29]:
#4. Slice the salaries list to get only the middle three salaries.
Middle_Salary=salaries[2:5]
print(f'Middle Salary={Middle_Salary}')

Middle Salary=['50k', '60k', '35k']

In [38]:
#5. Add a new salary to the list, ‘100k’ by using append() method.
salaries.append('100k')
print(f'Add 100k={salaries}')

Add 100k=['100k', '40k', '89k', '35k', '60k', '55k', '40k', '30k', '20k', '100k']

In [32]:
#5. Add a new salary to the list, ‘120k’ without method.
add_salary=salaries +['120k']
print(f'Add 120k={add_salary}')

Add 120k=['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [33]:
#6. Replace the third salary in the list with '55k' and print the updated list.
salaries[2]='55k'
print(f'Replace ={salaries}')

Replace =['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

In [34]:
#7. Count how many times '40k' appears in the list.
total_times=salaries.count('40k')
print(f'Check Total={total_times}')

Check Total=2

In [35]:
#8. Insert a new salary at the second position.
salaries.insert(1,'30k')
print(f'Insert Salary={salaries}')

Insert Salary=['20k', '30k', '40k', '55k', '60k', '35k', '89k', '40k', '100k']

In [36]:
#9. Reverse the order of the salaries list with method.
salaries.reverse()
print(f'Reverse List={salaries}')

Reverse List=['100k', '40k', '89k', '35k', '60k', '55k', '40k', '30k', '20k']

In [37]:
#10. Reverse the order of the salaries list without method.
salaries[-1:]
print(f'Reverse List Without Method={salaries}')

Reverse Without Method=['100k', '40k', '89k', '35k', '60k', '55k', '40k', '30k', '20k']